<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
        <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/irods_fav.ico">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>iRODS</title>

        <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
        <link href="{{ SITEURL }}/theme/css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ SITEURL }}/theme/css/main.css" rel="stylesheet">

        <link href="{{ SITEURL }}/theme/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,800,400' rel='stylesheet' type='text/css'>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49704995-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-49704995-1');
        </script>

        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ SITEURL }}/"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!-- OPTIONS FOR BIG DEVICES -->
                    <li class="page-scroll phone_hide">
                        <div class="btn-group">
                          <button type="button" class="nav_dropdown_button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CODE
                          </button>
                          <div class="dropdown-menu dropdown-menu-left">
                            <a class="dropdown-item" href="{{ SITEURL }}/download">Download</a>
                            <a class="dropdown-item" href="https://github.com/irods" target="_blank">GitHub</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/roadmap">Roadmap</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/clients">Clients</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/documentation">Documentation</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/hub">Hub</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/license">License</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/export-control">Export Control</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/code-of-conduct">Code of Conduct</a>
                          </div>
                        </div>
                    </li>
                    <li class="page-scroll phone_hide">
                        <div class="btn-group">
                          <button type="button" class="nav_dropdown_button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CONSORTIUM
                          </button>
                          <div class="dropdown-menu dropdown-menu-left">
                            <a class="dropdown-item" href="{{ SITEURL }}/about">About</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/team">Team</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/consortium-membership">Consortium Membership</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/general-support">General Support</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/advisory-board">Advisory Board</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/partner">Partner</a>                                                       
                            <a class="dropdown-item" href="{{ SITEURL }}/training">Training</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/history">History</a>
                          </div>
                        </div>
                    </li>
                    <li class="page-scroll phone_hide">
                        <a href="{{ SITEURL }}/events">EVENTS</a>
                    </li>
                    <li class="page-scroll  phone_hide">
                        <a href="{{ SITEURL }}/news">NEWS</a>
                    </li>
                    <li class="page-scroll  phone_hide">
                        <a href="{{ SITEURL }}/contact">CONTACT</a>
                    </li>

                    <!-- OPTIONS FOR PHONE -->
                    <li class="page-scroll phone_show">
                        <h4>CODE</h4>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/download">Download</a>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="https://github.com/irods" target="_blank">GitHub</a>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/roadmap">Roadmap</a>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/clients">Clients</a>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/documentation">Documentation</a>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/hub">Hub</a>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/license">License</a>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/export-control">Export Control</a>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/code-of-conduct">Code of Conduct</a>
                    </li>

                    <li class="page-scroll phone_show">
                        <h4>CONSORTIUM</h4>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/about">About</a>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/team">Team</a>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/consortium-membership">Consortium Membership</a>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/general-support">General Support</a>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/advisory-board">Advisory Board</a>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/partner">Partner</a>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/training">Training</a>
                    </li>
                    <li class="page-scroll phone_show">
                        <a class="dropdown-item indented" href="{{ SITEURL }}/history">History</a>
                    </li>

                    <li class="page-scroll phone_show">
                        <a class="dropdown-item" href="{{ SITEURL }}/events"><b>Events</b></a>
                    </li>
                    <li class="page-scroll  phone_show">
                        <a class="dropdown-item" href="{{ SITEURL }}/news"><b>News</b></a>
                    </li>
                    <li class="page-scroll  phone_show">
                        <a class="dropdown-item" href="{{ SITEURL }}/contact"><b>Contact</b></a>
                    </li>
                    <div class="space_half phone_show"></div>
                    <div class="space_quart phone_show"></div>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>


    </nav>

    <!-- About Section -->
                    {% block content %}
                    {% endblock %}
  <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
<div class="container">
    <div class="col-lg-offset-0 col-lg-4 col-md-offset-0 col-md-4 col-sm-offset-0 col-sm-4 col-xs-offset-2 col-xs-8">
        <ul class="text-left footer_opts_container">
            <li><h4>CODE</h4></li>
            <li><a href="{{ SITEURL }}/download">Download</li></a>
            <li><a href="https://github.com/irods" target="_blank">GitHub</li></a>
            <li><a href="{{ SITEURL }}/roadmap">Roadmap</li></a>
            <li><a href="{{ SITEURL }}/clients">Clients</li></a>
            <li><a href="{{ SITEURL }}/documentation">Documentation</li></a>
            <li><a href="{{ SITEURL }}/hub">Hub</li></a>
            <li><a href="{{ SITEURL }}/license">License</li></a>
            <li><a href="{{ SITEURL }}/export-control">Export Control</li></a>
            <li><a href="{{ SITEURL }}/code-of-conduct">Code of Conduct</li></a>

        </ul>
    </div>
    <div class="col-lg-offset-0 col-lg-4 col-md-offset-0 col-md-4 col-sm-offset-0 col-sm-4 col-xs-offset-2 col-xs-8">
        <ul class="text-left footer_opts_container">
            <li><h4>CONSORTIUM</h4></li>
            <li><a href="{{ SITEURL }}/about">About</li></a>
            <li><a href="{{ SITEURL }}/team">Team</li></a>
            <li><a href="{{ SITEURL }}/consortium-membership">Consortium Membership</li></a>
            <li><a href="{{ SITEURL }}/general-support">General Support</li></a>
            <li><a href="{{ SITEURL }}/advisory-board">Advisory Board</li></a>
            <li><a href="{{ SITEURL }}/partner">Partner</li></a>
            <li><a href="{{ SITEURL }}/training">Training</li></a>
            <li><a href="{{ SITEURL }}/history">History</li></a>

        </ul>
    </div>
    <div class="col-lg-offset-0 col-lg-4 col-md-offset-0 col-md-4 col-sm-offset-0 col-sm-4 col-xs-offset-2 col-xs-8">
        <ul class="text-left footer_opts_container">
            <li><h4>MORE</h4></li>
            <li><a href="{{ SITEURL }}/contact">Contact Us</li></a>
            <li><a href="{{ SITEURL }}/faq">FAQ</li></a>
            <li><a href="{{ SITEURL }}/events">Events</li></a>
            <li><a href="{{ SITEURL }}/news">News</li></a>
            <li><a href="https://twitter.com/irods" target="_blank">Twitter</li></a>
            <li><a href="https://www.youtube.com/channel/UC-W0YRkGWJeuPzv1voCOxhA" target="_blank">YouTube</li></a>
            <li><a href="{{ SITEURL }}/ugm">User Group Meeting</li></a>
            <li><a href="{{ SITEURL }}/trirods">TRiRODS</li></a>
        </ul>
    </div>
    <div class="space_half"></div>
</div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; iRODS Consortium 2022
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="{{ SITEURL }}/theme/js/jquery.js"></script>
    <!-- Custom JS -->
    <script src="{{ SITEURL }}/theme/js/main.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
    <!-- jsValidation Core JavaScript -->
    <script src="{{ SITEURL }}/theme/js/jqBootstrapValidation.js"></script>

</body>

</html>
