{% if 'ugm2021' in output_file %}

{% extends "ugm2021.html" %}

{% else %}

{% extends "base.html" %}

{% endif %}

{% block content %}

    {% if page.title == 'news' %}
        <section class="white_bg">
                <div class="container">
                    <div class="space_half"></div>
                    <div class="row" >
                        <div class="col-lg-12 text-center">
                            <h4><i class="fa fa-bullhorn"></i> <b>News</b></h4>
                        </div>
                    </div>
                    <hr class="light_small_centered_line">
                    <div class="col-lg-offset-1 col-lg-10 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12 text-left" >
                        {% for article in articles %}

                              {{ article.date|strftime('%d %B %Y') }}
                              <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                              <hr>

                        {% endfor %}
                    </div>
                    <div class="space"></div>
                </div>
        </section>
    {% else %}

        {{ page.content }}

    {% endif %}

{% endblock %}
